.container{
    height: 100vh;
    width: 100vw;
    /* background-color: grey; */

    background-image: url("Bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 30deg;
    position:absolute;
    

}
.main{
    height: 750px;
    width: 600px;
    /* background-color: rgb(158, 82, 82);  */
    /* opacity: 0.9; */
    color: rgb(18, 16, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    /* border: 1px solid black; */
    z-index: 1;
    position: relative;

    
}
#btn{
    background-color:black;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    height: 30px;
    background-color: rgb(17, 159, 88);
    font-weight: bold;

}
#input{
    border-color: rgba(241, 36, 36, 0.742);
    height: 30px;
    width: 160px;
    font-weight: bolder;
    
}
p{
    color:black;
    font-family: 'Times New Roman', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Times, serif;
    font-size: 25px;
    /* background-color: rgb(21, 114, 124); */
    font-weight: 900;
}
h1{
    /* background-color: red; */
    color: white;
    font-weight: bolder;
}
h2{
    /* background-color: red; */
    color: white;
    font-weight:bolder;
}